.banner-container {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.black-banner-container {
  background-color: #0f0f0f;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.second-container {
  height: 40vh;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.website-image {
  width: 120px;
  height: 46px;
}

.description {
  color: #475569;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.outline-btn {
  font-family: 'Roboto';
  font-size: 13px;
  color: #475569;
  font-weight: bold;
  background-color: transparent;
  line-height: 2;
  width: 120px;
  border: 2px solid #64748b;
}

.close-icon-btn {
  background-color: transparent;
  border: none;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .close-icon-btn {
    padding-bottom: 90px;
  }
}

.small-banner-container {
  background-color: #f1f5f9;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 10px;
}

.small-banner-container-black {
  background-color: #212121;
}

.input-search-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-color: transparent;
  height: 10vh;
  padding-left: 4px;
}

.input {
  height: 30px;
  width: 70%;
  padding-left: 8px;
  color: #7e858e;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 16px;
}

.input-black-theme {
  background-color: transparent;
  border: 1px solid #424242;
}

.search-btn {
  background-color: #e2e8f0;
  height: 30px;
  border-width: 0px;
  width: 52px;
}

.search-icon-black {
  background-color: #606060;
  border: 1px solid #424242;
  height: 30px;
  width: 52px;
}

.home-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.un-order-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.failure {
  width: 250px;
  height: 250px;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.no-search-image {
  width: 180px;
  height: 200px;
}

.no-search-retry-btn {
  color: #f9f9f9;
  background-color: #4f46e5;
  height: 30px;
  width: 50px;
  border-width: 0px;
  border-radius: 4px;
}

.no-search-container-description {
  color: #7e858e;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}

.no-search-container-heading {
  color: #0f0f0f;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
}

.no-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .no-search-container {
    padding-top: 130px;
  }
}
